<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       default-lazy-init="false">

    <import resource="jobs.xml" />

    <!-- 任务执行线程池 -->
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="10" />
        <property name="maxPoolSize" value="50" />
        <property name="queueCapacity" value="200" />
    </bean>

    <import resource="triggers.xml" />

    <!-- 获取容器中Bean的工厂 -->
    <bean class="com.xyd.start.ScheduleStarter" init-method="start"></bean>
</beans>